---
layout: default
title: home
---

<div id="jumbotron" style="background: url(&quot;assets/img/background.jpg&quot;) top;">
    <div class="jumbotron jumbotron-fluid" id="jumbo" style="opacity: 1;background: rgba(233,236,239,0);padding: 8%;">
        <h1 id="h1" style="color: rgb(255,255,255);padding: 40px;font-family: 'Allerta Stencil', sans-serif;">Aaron Ferrucci</h1>
        
        <!-- <img src="{{ base }}/assets/img/aaronworking.jpg" class="rounded-circle" style="width: 150px;"
  alt="Avatar" /> -->
        
        <p class="text-monospace text-center" id="welcome"
            style="color: rgb(255,255,255);font-size: 15px;font-family: 'Allerta Stencil', sans-serif;padding: 1%;">
            Music Producer | Mixer | London
        </p>
        

        <button data-tf-popup="Spd2AuHk" data-tf-opacity="100" data-tf-size="100" 
        data-tf-iframe-props="title=Website work with me enquiry" 
        data-tf-transitive-search-params style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:rgb(42,191,255);color:#fff;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Work With Me</button><script 
        src="//embed.typeform.com/next/embed.js"></script>

        <!-- <form class="form-inline mr-auto" target="_self"></form><a class="btn btn-light action-button" 
                    role="button" href="{{ base }}/subscribe.html"
                    style="background: rgb(42,191,255);">Work With Me&nbsp;</a> -->
    </div>
</div>
<div class="jumbotron" style="padding: 12px;opacity: 1;background: rgb(237, 166, 211);" >
    <div class="container" id="jumbo">
        <div class="intro" style="padding-bottom:5%" style="padding-top:5%">
            <h2 class="text-center" style="color: rgb(255,255,255);padding: 20px;font-family: 'Allerta Stencil', sans-serif;">Featured Releases:</h2>

            <iframe style="margin:1%" 
            src="https://open.spotify.com/embed/playlist/7bUkGcHH5ayRMuB5CcePki?utm_source=generator" 
            width="100%" height="380" frameBorder="0" allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy"></iframe>
        </div>

    </div>
</div>        
        
        <div class="jumbotron" style="padding: 12px;opacity: 1;background: rgba(255, 255, 255, 0.31);">
        <div class="intro">
            <h2 class="text-center" style="color: rgb(0, 0, 0);font-family: 'Allerta Stencil', sans-serif;">Work With Me</h2>
            <p class="text-center" style="color: rgb(0, 0, 0);font-family: 'Allerta Stencil', sans-serif;">Fill out the form below to book an enquiry call</p>
        </div>

        <div data-tf-widget="Spd2AuHk" data-tf-opacity="100" 
data-tf-iframe-props="title=Website work with me enquiry" 
data-tf-transitive-search-params data-tf-medium="snippet" 
style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
  
        

        <!-- <div class="intro">
            <h2 class="text-center">Recent Articles</h2>
            <p class="text-center">Tweet me your thoughts!</p>
        </div>
        <div class="row articles">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-6 col-lg-4 item">
                <a href="{{ post.url }}">
                <img class="img-fluid" style="height: 210px;" src="{{ post.thumbnail }}">
                </a>
                <h3 class="name"><a href="{{ post.url }}" style="color:rgb(65, 65, 65)">{{ post.title }}</a></h3>
                <p class="description">{{ post.excerpt }}</p>
                <span class="read-time" title="Estimated read time">
                    <svg id="i-clock" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" 
                    stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>       
                  
                    {% assign words = post.content | number_of_words %}
                    {% if words < 360 %}
                      1 minute read.
                    {% else %}
                      {{ words | divided_by:180 }} minute read.
                    {% endif %}
                  </span>
                <a
                class="action" href="{{ post.url }}"><i class="fas fa-chevron-right"></i></a>
            </div> 
            {% endfor %}
            <!-- <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                <h3 class="name">Anotha 1</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a
                    class="action" href="#"><i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                <h3 class="name">Thoughtismous</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a
                    class="action" href="#"><i class="fas fa-chevron-right"></i></a>
            </div> -->
        <!-- </div> -->
        